
:root {
  --gray-color: #808C9E;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

  .header_group{
    display: flex;
    justify-content: space-between;
  }

  .header_newCase{
    max-width: 140px;
    background-color: #FFDD2D;
    padding: 5px 20px;
    text-align: center;
  }

  ul{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    gap:10px;
    
  }

  li{
    list-style: none;
    gap: 10px;
    align-items: center;
  }

 
  .products, .manager_position, .footer_name {
    color:var(--gray-color)
 }
 
  .grey-bg{
    background-color: #F1F3F5;
    padding: 5px 0; 
  }

  .titles{
    font-size: 1.5em;
    font-weight: 500;
  }

  .solution_header{
    display: flex; 
    align-items: center;
    gap:10px; 
  }

  .solution_description{
    color: #597DB3;
    font-size: 1.5em;
  }

  .manager{
    max-width: 320px;
    display: flex;
    align-items: center;
    gap:20px; 
  }

  .footer{
    display: flex;
    justify-content: space-between;
  }

  .footer_link{
    color:#597DB3;
    text-decoration: underline;
    text-underline-position: under;  
    }
 

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .container{
        max-width: 720px;
      }
    }

    @media screen and (min-width: 500px) and (max-width: 768px) {
      .container{
        max-width: 500px;
      }
    }
    


    @media screen and (min-width: 320px) and (max-width: 500px) {
      .container{
        max-width: 300px;
      }

      .header, .header_group, .products_list, .solution_header,  .footer{
        display: flex;
        flex-direction: column;  
        align-items: left;
      }
     
    }
 